/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEEEEE; /* Light background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ece4ff; /* Dark text color */
    background-color: #E4E0E1; /* Fallback color */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('bg.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
}

.container {
    background-color: #000000d7;
    padding: 50px 70px; /* Increased padding for better spacing */
    border-color: rgb(153, 110, 0);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    max-width: 800px; /* Increased width */
    min-height: 500px;
    width: 100%;
    margin: 0 20px;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25); /* Stronger hover effect */
}

h1 {
    font-size: 2.8em;
    margin-bottom: 40px;
    color: #dbd9ff; /* Heading color */
    letter-spacing: 1.5px;
    font-weight: 600;
}

/* Form Styles */
label {
    font-weight: 600; /* Bold font for better visibility */
    margin-bottom: 30px;
    display: block;
    color: #ffdbc2; /* Text color */
    font-size: 1.5em; /* Increased font size */
}
input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

button {
    font-size: large;
    color: white;
    background-color: #c80000;
    padding: 12px 25px;
    border-color:#c80000 ;
    border-style: solid;
    border-radius: 5px;
    display: inline-block;
    margin: 60 px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #b50000;
}

button:focus {
    outline: none;
    background-color: #9c0000;
}
/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 25px;
        max-width: 95%;
    }

    h1 {
        font-size: 2.4em;
    }

    button {
        padding: 12px 30px;
    }
}
