/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 90%; /* Added to make it responsive */
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #333;
}

/* Form Styles */
label {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

select:focus {
    outline: none;
    border-color: #007BFF; /* Focus border color */
}

/* Button Styling */
button {
    background-color: #007BFF;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button:focus {
    outline: none;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    button {
        padding: 10px 20px;
    }
}
